<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Toggle button -->
    <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Navbar brand -->
      <a class="navbar-brand mt-2 mt-lg-0" href="#">
        <h2 style="color: green;">Snow Flakes</h2>
      </a>
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/admin/login">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/manageuser">User</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/view_products">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/category">Category</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/bannermanage">Banner</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/orderstatus">Orders</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/coupen">Coupen</a>
        </li>
      </ul>
      <!-- Left links -->
    </div>
    <!-- Collapsible wrapper -->

    <!-- Right elements -->
    <div class="d-flex align-items-center">
      <!-- Icon -->
      <a class="text-reset me-3" href="#">
        <i class="fas fa-shopping-cart"></i>
      </a>

      <!-- Notifications -->

      <!-- Avatar -->
      <a type="button" class="btn btn-danger" href="/admin/adminlogout">Logout</a>
    </div>
    <!-- Right elements -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
<a type="button" href="/admin/salesreport" class="btn btn-outline-success">Sales report</a>
<div class="container-fluid">


  {{!-- <a href="/admin/addbanner"><button class="btn btn-success">Add banner</button></a> --}}

  <div class="row mt-5">
    <div class="col-md-10 mx-auto border ">
      <table class="table table-striped" id="usertable">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Products</th>
            <th scope="col">Quantiy</th>
            <th scope="col">Total Price</th>
            <th scope="col">Payment method</th>
            <th scope="col">Delivery Status</th>
            <th scope="col">Paymet Status</th>
            <th scope="col">Change Status</th>
            <th scope="col">Cancel order</th>
            <th scope="col">Date of order</th>










          </tr>
        </thead>
        <tbody>

          {{#each orderdata}}

          <tr>
            <td>{{this.userId.name}}</td>
            <td>{{this.userId.email}}</td>



            <td>{{#each this.OrderItems}}{{this.productId.productname}} <br>{{/each}}</td>
            <td>{{#each this.OrderItems}}{{this.quantity}} <br> {{/each}}</td>



            {{#if this.grandtotal}}
            <td>{{this.grandtotal}}</td>
            {{else}}
            <td>{{this.totalprice}}</td>
            {{/if}}
            <td style="font-weight: 500; color: green;">{{this.paymentdetails}}</td>
            {{#if (eq this.productstatus "Cancelled") }}

            <td style="color: red;">{{this.productstatus}}</td>
            {{else}}
            <td style="color: rgb(13, 158, 0);">{{this.productstatus}}</td>
            {{/if}}
            <td style="color: green;">{{this.deliveystatus}}</td>
            
            {{#if (eq this.productstatus "pending")}}
            <td><a onclick="shipped('{{this._id}}')"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                  fill="currentColor" class="bi bi-truck" viewBox="0 0 16 16">
                  <path
                    d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5v-7zm1.294 7.456A1.999 1.999 0 0 1 4.732 11h5.536a2.01 2.01 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456zM12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12v4zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
                </svg></a></td>
            {{/if}}
            {{#if (eq this.productstatus "shipped")}}
            <td><a onclick="delivered('{{this._id}}')"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                  fill="currentColor" class="bi bi-bag-check-fill" viewBox="0 0 16 16">
                  <path fill-rule="evenodd"
                    d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zm-.646 5.354a.5.5 0 0 0-.708-.708L7.5 10.793 6.354 9.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z" />
                </svg></a></td>
            {{/if}}
            {{#if (eq this.productstatus "delivered")}}
            <td><a href=""><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                  class="bi bi-check-circle" viewBox="0 0 16 16">
                  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                  <path
                    d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z" />
                </svg></a></td>
            {{/if}}
            {{#if (eq this.productstatus "Cancelled")}}
            <td><span class="fa fa-ban" style="color: red;">Cancelled</span></td>
            {{/if}}
            {{#if (or (eq this.productstatus "pending") (eq this.productstatus "shipped"))}}
            <td><a onclick="cancelorder('{{this._id}}')" type="button" class="btn btn-danger">Cancel</a></td>
            {{else}}
            <td><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                <path
                  d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z" />
              </svg></td>
            {{/if}}
            <td>{{format this.createdAt}}</td>





            <td>
              <img src="/{{this.image.[0]}}" alt="" width="50em">
            </td>

            <td>



            </td>
            {{!--
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
              Launch demo modal
            </button> --}}

            <!-- Modal -->
            <div class="modal fade" id="exampleModal{{this._id}}" tabindex="-1" role="dialog"
              aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">

                    <form action="/admin/updatebanner/{{this._id}}" method="post" enctype="multipart/form-data">
                      <div class="form-outline d-flex justify-content-center mb-3 form-control-sm shadow  mt-5 ">
                        <input type="text" id="form3Example4cdg" required name="bannername"
                          class="form-control-lg form-control " placeholder="Enter Banner name"
                          value="{{this.bannername}}" />
                        {{!-- <label class="form-label" for="form3Example4cdg"></label> --}}

                      </div>
                      <div class="form-outline d-flex justify-content-center mb-3 form-control-sm shadow  mt-5 ">
                        <input type="text" id="form3Example4cdg" required name="description"
                          class="form-control-lg form-control " placeholder="Enter Description name"
                          value="{{this.description}}" />
                        {{!-- <label class="form-label" for="form3Example4cdg"></label> --}}

                      </div>
                      <br>


                      <p style="color: red ">Banner already exist</p>



                      <div class="form-group d-flex justify-content-center ">
                        <label for="exampleFormControlFile1">Example file input</label>
                        <img src="/{{this.image.[0]}}" alt="" width="50em">
                        <input type="file" multiple name="image" class="form-control-file" id="exampleFormControlFile1">
                      </div>
                      <div class="d-flex justify-content-center mt-3">
                        <button type="submit" class="btn btn-primary">Save changes</button>
                        {{!-- <button type="submit" class="btn btn-primary">Submit</button> --}}
                      </div>
                    </form>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                  </div>
                </div>
              </div>
            </div>
            {{/each}}






            {{!-- <td>
              <a class="btn btn-success" href="/admin/update-category/{{this._id}}">Edit</a>

              <a class="btn btn-danger" href="/admin/delete-category/{{this._id}}"
                onclick="return confirm('Are you sure you want to Delete {{this.categoryname}} ?')">Delete</a>
            </td> --}}

          </tr>


        </tbody>
      </table>
    </div>
  </div>



  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  

  <script>
    $(document).ready(function () {
      $('#usertable').DataTable();
    });




    async function shipped(id) {
      console.log("jijijijijijjiijijijjiji")
      axios({
        method: 'post',
        url: '/admin/ShipOrder/' + id

      }).then((response) => {
        location.reload()
      }).catch((response) => {
        console.log(response, "catch error at shipped axios.")
      })
    }

    async function delivered(id) {
      axios({
        method: 'post',
        url: '/admin/Delivered/' + id

      }).then((response) => {
        location.reload()
      }).catch((response) => {
        console.log(response, "catch error at delivered axios.")
      })
    }

    async function cancelorder(id) {
      axios({
        method: 'post',
        url: '/admin/cancelorder/' + id

      }).then((response) => {
        location.reload()
      }).catch((response) => {
        console.log(response, "catch error at delivered axios.")
      })
    }
  </script>
</div>