<div class="container mt-5 mb-5">

        <div class="row d-flex justify-content-center">

            <div class="col-md-8">

                <div class="card">


                       

                        <div class="invoice p-5">

                            <h5 style="color: green;">Your order Confirmed!</h5>

                            <span class="font-weight-bold d-block mt-4">Dear , {{userdata.name}}</span>
                            <span>You order has been confirmed and will be shipped in next two days!</span>

                            <div class="payment border-top mt-3 mb-3 border-bottom table-responsive">

                                <table class="table table-borderless">
                                    
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="py-2">

                                                    <span class="d-block text-muted">Order Date</span>
                                                <span>{{format orderdetails.createdAt}}</span>
                                                    
                                                </div>
                                            </td>

                                         

                                            <td>
                                                <div class="py-2">

                                                    <span class="d-block text-muted">Payment</span>
                                                <span>🔴 {{orderdetails.paymentdetails}}</span>
                                                    
                                                </div>
                                            </td>

                                            <td>
                                                <div class="py-2">

                                                    <span class="d-block text-muted">Shiping Address</span>
                                                <span>{{orderdetails.deliverydetails.Name}} {{orderdetails.deliverydetails.Lastname}} {{orderdetails.deliverydetails.Locality}} {{orderdetails.deliverydetails.Housename}} {{orderdetails.deliverydetails.State}}</span>
                                                    
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>

                                </table>




                                
                            </div>




                                <div class="product border-bottom table-responsive">

                                    <table class="table table-borderless">

                                    <tbody>
                                        {{#each  orderdetails.OrderItems}}
                                        <tr>
                                            
                                            <td width="20%">
                                            
                                            <img src="/{{this.productId.image.[0]}}" width="90">

                                        </td>
                                    
                                        <td width="60%">
                                            <span class="font-weight-bold">{{this.productId.productname}}</span>
                                            <div class="product-qty">
                                                <span class="d-block">Quantity : {{this.quantity}}</span>
                                                <span>Color:Dark</span>
                                                
                                            </div>
                                        </td>
                                        <td width="20%">
                                        
                                            <div class="text-right">
                                                <span class="font-weight-bold"> ₹ {{this.productId.price}}</span>
                                            </div>
                                          
                                        </td>
                                        </tr>
                                          {{/each}}


                                        
                                      
                                    </tbody> 
                                        
                                    </table>
                                    


                                </div>



                                <div class="row d-flex justify-content-end">

                                    <div class="col-md-5">

                                        <table class="table table-borderless">

                                            <tbody class="totals">

                                                <tr>
                                                    <td>
                                                        <div class="text-left">

                                                            <span class="text-muted">MRP price</span>
                                                            
                                                        </div>
                                                         
                                                    </td>
                                                    <td>
                                                        <div class="text-right">
                                                            <span> ₹ {{mrptotal}}</span>
                                                        </div>
                                                    </td>
                                                </tr>


                                                 <tr>
                                                    <td>
                                                        <div class="text-left">

                                                            <span class="text-muted">Discount</span>
                                                            
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="text-right">
                                                            <span><del style="color: red;">₹ {{totaldiscount}}</del></span>
                                                        </div>
                                                    </td>
                                                </tr>


                                                 <tr>
                                                    <td>
                                                        <div class="text-left">

                                                            <span class="text-muted">Coupon Discount</span>
                                                            
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="text-right">
                                                            <span style="color: green; font-weight: 500;">{{orderdetails.discount}}</span>
                                                        </div>
                                                    </td>
                                                    </tr>
                                                    <tr>
                                                    <td>
                                                        <div class="text-left">

                                                            <span class="text-muted">Shipping Fee</span>
                                                            
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="text-right">
                                                            <span style="color: green; font-weight: 500;">Free</span>
                                                        </div>
                                                    </td>
                                                </tr>


                                          

                                                 <tr class="border-top border-bottom">
                                                    <td>
                                                        <div class="text-left">

                                                            <span class="font-weight-bold">Total Amount</span>
                                                            
                                                        </div>
                                                    </td>
                                                    <td>
                                                        {{#if orderdetails.grandtotal}}
                                            <div class="text-right">
                                                <span class="font-weight-bold"> ₹ {{orderdetails.grandtotal}}</span>
                                            </div>
                                            {{else}}
                                             <div class="text-right">
                                                <span class="font-weight-bold"> ₹ {{orderdetails.totalprice}}</span>
                                            </div>
                                            {{/if}}
                                                    </td>
                                                </tr>
                                            </tbody>
                                            
                                        </table>
                                        
                                    </div>
                                    


                                </div>


                                <p>Your Order placed successfully!</p><br>
                                               <a type="button" href="/allorders" class="btn btn-success">viw all orders</a> 

                            



                            

                        </div>


                        <div class="d-flex justify-content-between footer p-3">

                            
                             <span>{{format orderdetails.createdAt}}</span>
                            
                        </div>



            
        </div>
                
            </div>
            
        </div>
        
    </div>