{{!-- <form action="/updateaddress/{{addresses._id}}" method="post" id="form2">
 <div class="container mt-5"> 
  <div class="form-row ">
    <div class="form-group col-md-4">
      <label for="inputEmail4">First name</label>
      <input type="text" class="form-control" id="inputEmail4" value="{{addresses.Name}}" name="name" placeholder="Enter first name" required>
    </div>
    <div class="form-group col-md-4">
      <label for="inputPassword4">Last name</label>
      <input type="text" class="form-control" name="lastname" value="{{addresses.Lastname}}" id="inputPassword4" placeholder="Enter Second name" required>
    </div>
  </div>
  <div class="form-group col-md-4">
    
    <label for="inputAddress">Number</label>
    <input type="text" class="form-control" id="inputAddress"  name="number" value="{{addresses.Number}}" placeholder="Your mobile number" required>
  </div>
  <div class="form-group col-md-4">
    <label for="inputAddress2">Locality</label>
    <input type="text" class="form-control" id="inputAddress2" value="{{addresses.Locality}}" name="locality" placeholder="Enter Your locality" required>
  </div>
   <div class="form-group col-md-4">
      <label for="inputZip">House Name</label>
      <input type="text" name="housename" class="form-control " value="{{addresses.Housename}}" placeholder="House name" id="inputZip">
    </div>
    <div class="form-group col-md-4">
      <label for="inputZip">Pincode</label>
      <input type="text" name="pincode" class="form-control" value="{{addresses.Pincode}}" id="inputZip" placeholder="Enter your pincode">
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">State</label>
        <input type="text" name="state" class="form-control" value="{{addresses.State}}" id="inputCity" placeholder="state">
     
      </select>
    </div>
    <div class="form-group col-md-4">
      <label for="inputZip">Landmark</label>
      <input type="text" name="landmark" class="form-control" id="inputZip" value="{{addresses.LandMark}}" placeholder="Landmark" required>
    </div>
   
  
  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck" required>
      <label class="form-check-label" for="gridCheck">
        Check me out
      </label>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Done</button>
  </div>
</form>
</div>

<script> --}}
  {{!-- 
                    <div class="back-to-userprofile mt-3"><a href="/userprofile">&leftarrow;</a><span class="text-muted">Back to profile</span></div>

<div class="container" style="padding-left: 14cm;">

  <h2 class="mt-3">Add Address</h2>
  <form action="/address" method="post" id="form2">
 <div class="container mt-2"> 
  <div class="form-row ">
    <div class="form-group col-md-4">
      <label for="inputEmail4">First name</label>
      <input type="text" class="form-control" id="inputEmail4" name="name" placeholder="Enter first name" required>
    </div>
    <div class="form-group col-md-4">
      <label for="inputPassword4">Last name</label>
      <input type="text" class="form-control" name="lastname" id="inputPassword4" placeholder="Enter Second name" required>
    </div>
  </div>
  <div class="form-group col-md-4">
    
    <label for="inputAddress">Number</label>
    <input type="text" class="form-control" id="inputAddress" name="number" placeholder="Your mobile number" required>
  </div>
  <div class="form-group col-md-4">
    <label for="inputAddress2">Locality</label>
    <input type="text" class="form-control" id="inputAddress2" name="locality" placeholder="Enter Your locality" required>
  </div>
   <div class="form-group col-md-4">
      <label for="inputZip">House Name</label>
      <input type="text" name="housename" class="form-control " placeholder="House name" id="inputZip">
    </div>
    <div class="form-group col-md-4">
      <label for="inputZip">Pincode</label>
      <input type="text" name="pincode" class="form-control" id="inputZip" placeholder="Enter your pincode">
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">State</label>
        <input type="text" name="state" class="form-control" id="inputCity" placeholder="state">
     
      </select>
    </div>
    <div class="form-group col-md-4">
      <label for="inputZip">Landmark</label>
      <input type="text" name="landmark" class="form-control" id="inputZip" value="" placeholder="Landmark" required>
    </div>
   
  
  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck" required>
      <label class="form-check-label" for="gridCheck">
        Check me out
      </label>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Done</button>
  </div>
  </form>
</div>


<script>


//$(document).ready(function (){
 // $("#form2").validate({
    
  //  rules:{
   //   name:{
  //      required:true,
       
       
      },
 //     lastname:{
  //      required:true,
      
      

      },
   //   number:{
   //   required:true,
      
  //    },
   //   locality:{
   //     required:true,
      
      },
 //     housename:{
  //      required:true,
        
        
      }
   //   pincode:{
   //     required:true,
        
      
      }
   //    state:{
   //     required:true,
        
        
      }
    //    landmark:{
    //    required:true,
        
        
      }
    },

    
  //  messages:{
  //    name:{
  //      required:"Please enter,
      },
   //   lastname:{
   //     required:"Please enter your name",
        },
   //   number:{
    //    required:"Enter your mobile number",
    
 
      },
  //    locality:{
  //    required:"Please enter your password",
     
    },
 //   state:{
 //     required:"Confirm your password",
  
   
    },
  //   pincode:{
  //    required:"Confirm your password",

    },
 //    housename:{
 //     required:"Confirm your password",
      
    },
  //   landmark:{
  //    required:"Confirm your password",

    },
  //  if(){

    }
    
    }
  
  });
})





</script> --}}
<style>
  .gradient-custom {
background: -webkit-linear-gradient(left, #3931af, #093b49);
}

.card-custom {
border-bottom-left-radius: 10% 50%;
border-top-left-radius: 10% 50%;
background-color: #f8f9fa ;
}


.input-custom {
background-color: white ;
}

.white-text {
color: hsl(52, 0%, 98%);
font-weight: 100 ;
font-size: 14px;
}

.back-button {
background-color: hsl(52, 0%, 98%);
font-weight: 700;
color: black ;
margin-top: 50px ;
}
</style>

<div class="row mt-3 mx-3" style="margin-top:25px ;">
  <div class="col-md-3">
    <div style="margin-top: 50px; margin-left: 10px;" class="text-center">
      <i id="animationDemo" data-mdb-animation="slide-right" data-mdb-toggle="animation"
        data-mdb-animation-reset="true" data-mdb-animation-start="onScroll"
        data-mdb-animation-on-scroll="repeat" class="fas fa-3x fa-shipping-fast text-white"></i>
      <h3 class="mt-3 text-white">Welcome</h3>
      <p class="white-text">You are 30 seconds away from compleating your order!</p>
    </div>
    <div class="text-center">
      <a type="submit" href="/userprofile" class="btn btn-white btn-rounded back-button" style="color: green;">Go back</a>
    </div>


  </div>
  <div class="col-md-9 justify-content-center">
    <div class="card card-custom pb-4">
      <div class="card-body mt-0 mx-5">
        <div class="text-center mb-3 pb-2 mt-3">
          <h4 style="color: #495057 ;">Delivery Details</h4>
        </div>

        <form action="/updateaddress/{{addresses._id}}" method="post"  id="form5" class="mb-0">

          <div class="row mb-4">
            <div class="col">
              <div class="form-outline">
                <label class="form-label" for="form9Example1">First name</label>

                <input type="text" id="name" required name="name"  value="{{addresses.Name}}" class="form-control input-custom" />
              </div>
            </div>
            <div class="col">
              <div class="form-outline">
                <label class="form-label" for="form9Example2">Last name</label>

                <input type="text" id="lastname" required name="lastname" value="{{addresses.Lastname}}" class="form-control input-custom" />
              </div>
            </div>
          </div>
          <div class="row mb-4">
            <div class="col">
              <div class="form-outline">
                <label class="form-label" for="form9Example3">Number</label>

                <input type="number" id="number" required name="number" value="{{addresses.Number}}" class="form-control input-custom" />
              </div>
            </div>
            <div class="col">
              <div class="form-outline">
                <label class="form-label" for="form9Example4">City</label>

                <input type="text" id="locality" required name="locality" value="{{addresses.Locality}}" class="form-control input-custom" />
              </div>
            </div>
          </div>
          <div class="row mb-4">
            <div class="col">
              <div class="form-outline">
                <label class="form-label" for="form9Example6">House name</label>

                <input type="text" id="housename" required name="housename" value="{{addresses.Housename}}" class="form-control input-custom" />
              </div>
            </div>
            <div class="col">
              <div class="form-outline">
                <label class="form-label" for="typeEmail">Pincode</label>

                <input type="number" id="pincode" required  name="pincode" value="{{addresses.Pincode}}" class="form-control input-custom" />
              </div>
            </div>
          </div>
          <div class="row mb-4">
            <div class="col">
              <div class="form-outline">
                <label class="form-label" for="form9Example6">Land mark</label>

                <input type="text" id="landmark" required name="landmark" value="{{addresses.LandMark}}" class="form-control input-custom" />
              </div>
            </div>
            <div class="col">
              <div class="form-outline">
                <label class="form-label" for="typeEmail">State</label>

                <input type="text" id="state" required  name="state" value="{{addresses.State}}" class="form-control input-custom" />
              </div>
            </div>
          </div>

          <div class="float-end ">
            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-rounded"
              style="background-color:green ;">Done</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>





$(document).ready(function (){
  $("#form2").validate({
    
    rules:{
      name:{
        required:true,
       
       
      },
      lastname:{
        required:true,
      
      

      },
      number:{
      required:true,
      
      },
      locality:{
        required:true,
      
      },
      housename:{
        required:true,
        
        
      }
      pincode:{
        required:true,
        
      
      }
       state:{
        required:true,
        
        
      }
        landmark:{
        required:true,
        
        
      }
    },

    
    messages:{
      name:{
        required:"Please enter,
      },
      lastname:{
        required:"Please enter your name",
        },
      number:{
        required:"Enter your mobile number",
    
 
      },
      locality:{
      required:"Please enter your password",
     
    },
    state:{
      required:"Confirm your password",
  
   
    },
     pincode:{
      required:"Confirm your password",

    },
     housename:{
      required:"Confirm your password",
      
    },
     landmark:{
      required:"Confirm your password",

    },
    if(){

    }
    
    }
  
  });
})





</script>